extends layout

block content
  h1= title
  p Welcome to #{title}

  #item-area
    todo-item(v-for='item in itemList', v-bind:todo='item', v-on:delete-item-event='handleDeleteItem')

  #add-button
    button(v-on:click="addItem('new item')") add item

  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script(src='https://www.gstatic.com/firebasejs/4.9.1/firebase.js')
  script(src='https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js')
  script.
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDqx_OrsUMOYK4m74GDL6cHDDo4SG4pTDw",
      authDomain: "typescripttest-e0ff3.firebaseapp.com",
      databaseURL: "https://typescripttest-e0ff3.firebaseio.com",
      projectId: "typescripttest-e0ff3",
      storageBucket: "typescripttest-e0ff3.appspot.com",
      messagingSenderId: "130320518220"
    };
    firebase.initializeApp(config);
  script(src='javascripts/bundle.js')
  script(type='text/javascript').
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
        // 登録成功
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        // 登録失敗 :(
        console.log('ServiceWorker registration failed: ', err);
      });
    }